.container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    text-align: center;
    font-size: 3em;
}

.container .btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
}


.container .add-employee-btn {
    background-color: #0066ff;
}

.container table {
    margin-top: 20px;
    overflow-x: auto;
}

.container table,th,td {
    padding: 10px;
    border: 1px solid #000;
    border-collapse: collapse;
}

.container table tr:hover {
    background-color: coral;
}

.container .link-btn {
    display: flex;
}

.update-employee {
    background-color: #00cc00;
}

.delete-employee {
    background-color: #ff3300;
    margin-left : 10px;
}

