<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Login Form</h1>
        <p th:if="@{loginError}">Wrong username or password!</p>
        <form th:action="@{/home}" method="get">
            <label>Username:
                <input type="text" id="username" name="username" />
            </label>
            <label>Password:
                <input type="password" id="password" name="password" />
            </label>
            <button type="submit" value="Log in">Log in</button>
        </form>
    </div>
</body>
</html>